// 将设置放入此文件中以覆盖默认设置
// Place your settings in this file to overwrite the default settings
{
  "git.autofetch": false,
  "editor.tabSize": 2,
  "editor.wordWrap": "on",
  "files.exclude": {
    "*.tmp": true,
    "**/.DS_Store": true,
    "**/.git": true,
    "**/.hg": true,
    "**/.javadoc": true,
    "**/.logs": true,
    "**/.sass-cache": true,
    "**/.settings": true,
    "**/.svn": true,
    "**/.tmp": true,
    "**/.vscode": true,
    "**/android": true,
    "**/bower_components": true,
    "**/build": false,
    "**/dist": false,
    "**/grunt_plugins": true,
    "**/ios": true,
    "**/project": true,
    "**/sql": true,
    "**/static/dist": true,
    "**/static/vendorDll": true,
    "**/target": true
  },
  "files.associations": {
    "*.swig": "html",
    "*.cjson": "jsonc",
    "*.wxss": "css",
    "*.wxs": "javascript"
  },
  "files.eol": "\n",
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "editor.rulers": [120],
  "editor.fontSize": 16,
  "editor.renderWhitespace": "all" ,
  "editor.detectIndentation": false,
  "editor.tabCompletion": "on",
  "editor.cursorStyle": "line",
  "editor.lineHeight": 24,
  "editor.lineNumbers": "on",
  "editor.minimap.enabled": false,
  "editor.renderIndentGuides": false,
  "window.openFilesInNewWindow": "on",
  "window.zoomLevel": 0,
  "telemetry.enableCrashReporter": false,
  "css.validate": false,
  "sync.gist": "02d7e24882a0ebb74368ea04f089791a",
  "sync.autoDownload": true,
  "sync.autoUpload": false,
  "sync.forceDownload": false,
  "sync.quietSync": false,
  "sync.askGistName": false,
  "workbench.colorTheme": "Atom One Dark",
  "explorer.confirmDragAndDrop": false,
  "gitlens.advanced.messages": {
    "suppressCommitHasNoPreviousCommitWarning": false,
    "suppressCommitNotFoundWarning": false,
    "suppressFileNotUnderSourceControlWarning": false,
    "suppressGitVersionWarning": false,
    "suppressLineUncommittedWarning": false,
    "suppressNoRepositoryWarning": false,
    "suppressResultsExplorerNotice": false,
    "suppressShowKeyBindingsNotice": true,
    "suppressUpdateNotice": true,
    "suppressWelcomeNotice": true
  },
  "sync.removeExtensions": true,
  "sync.syncExtensions": true,
  "terminal.integrated.shell.osx": "zsh",
  "gitlens.keymap": "alternate",
  "typescript.updateImportsOnFileMove.enabled": "always",
  "guides.normal.color.dark": "rgba(91, 91, 91, 0.6)",
  "guides.normal.color.light": "rgba(220, 220, 220, 0.7)",
  "guides.active.color.dark": "rgba(210, 110, 210, 0.6)",
  "guides.active.color.light": "rgba(200, 100, 100, 0.7)",
  "guides.active.style": "dashed",
  "guides.normal.style": "dashed",
  "guides.stack.style": "dashed",
  "terminal.integrated.fontFamily": "monospace",
  "emmet.includeLanguages": {
    "wxml": "html"
  },
  "minapp-vscode.disableAutoConfig": true,
  "breadcrumbs.enabled": true,
  "javascript.updateImportsOnFileMove.enabled": "always",
  "gitlens.views.fileHistory.enabled": true,
  "gitlens.views.lineHistory.enabled": true,
  "editor.suggestSelection": "first",
  "eslint.validate": [
    "javascript", "javascriptreact",
    {
      "language": "typescript",
      "autoFix": true
    }
  ],
  "eslint.autoFixOnSave": true,
  "workbench.iconTheme": "vscode-icons",
  "workbench.colorCustomizations": {},
  "editor.minimap.maxColumn": 100,
  "vsicons.projectDetection.autoReload": true,
  "C_Cpp.updateChannel": "Insiders",
  "C_Cpp.default.includePath": ["${workspaceFolder}/**", "/Users/linxiaowu/Github/v8", "/Users/linxiaowu/Github/v8/include", "/Users/linxiaowu/Github/libuv/include"],
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "terminal.integrated.rendererType": "dom",
  "vsicons.dontShowNewVersionMessage": true,
  "sync.forceUpload": true
}


在Ubuntu下使用setting-sync会出现这种错误：
```
spawn EACCES: Error: spawn EACCES
    at exports._errnoException (util.js:1022:11)
    at ChildProcess.spawn (internal/child_process.js:313:11)
    at Object.exports.spawn (child_process.js:399:9)
```

解决办法是： `chmod +x ~/.vscode/extensions/Shan.code-settings-sync-2.8.2/node_modules/opn/xdg-open`
