// 将设置放入此文件中以覆盖默认设置
// Place your settings in this file to overwrite the default settings
{
    "git.autofetch": false,
    "editor.tabSize": 2,
    "git.path": "git.exe",
    "sync.gist": "8b255c2dd10d3dca20bb9eeb8c349106",
    "sync.lastUpload": "2017-05-22T02:39:37.176Z",
    "sync.autoDownload": true,
    "sync.autoUpload": false,
    "sync.lastDownload": "",
    "sync.forceDownload": false,
    "editor.wordWrap": "on",
    "sync.anonymousGist": false,
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/.DS_Store": true,
        "**/node_modules": true,
        "**/bower_components": true,
        "**/.tmp": true,
        "**/.sass-cache": true,
        "**/.vscode": true,
        "**/dist": true,
        "**/grunt_plugins": true,
        "**/target": true,
        "**/project": true,
        "**/sql": true,
        "**/.settings": true,
        "**/.javadoc": true,
        "**/.logs": true
    },
    "editor.rulers": [120],
    "editor.renderIndentGuides": true,
    "files.trimTrailingWhitespace": true,
    "editor.fontSize": 16,
    "editor.renderWhitespace": "all" ,
    "editor.detectIndentation": false,
    "editor.tabCompletion": true,
    "window.openFilesInNewWindow": "on",
    "files.associations": {
      "*.swig": "html"
    },
    "telemetry.enableCrashReporter": false,
    "workbench.iconTheme": "vs-seti",
    "files.eol": "\n",
    "window.zoomLevel": 0,
    "rempx.remEqual": 37,
    "css.validate": false,
    "sync.host": "",
    "sync.pathPrefix": "",
    "sync.quietSync": false
  }
625d23125793b4a8d707a64bfff694b7fa7f1dd3
